#page-nav {
  width: 100%;
  background: #c5a755;
  position: sticky;
  top: 0;
}

/* Hide Hamburger */
#page-nav label, #hamburger {
  display: none;
}

/* Menu Items */
#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
#page-nav ul li {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
#page-nav ul li a {
  color: #fff;
  text-decoration: none;
  text-underline-position: below;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* Show Hamburger */
  #page-nav label {
    display: inline-block;
    color: #fff;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #page-nav ul li {
    display: block;
  }
  #page-nav ul li {
    border-top: 1px solid #333;
  }

  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
  }
  #page-nav input:checked ~ ul {
    display: block;
  }
}

/* [DOES NOT MATTER] */
html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

#logo {
height: 120px;
}
  body {
    background-color: rgb(255, 255, 254);
    }

  $primary-color: rgb(245, 252, 255);

* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
  }

  #grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    justify-items: center;
    align-items: center;
    }
  
    .btn:link,
    .btn:visited {
      text-decoration: none;
      padding: 1px 40px;
      display: inline-block;
      border-radius: 15px;
      transition: all 0.2s;
    }
    
    .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .btn:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .btn-white {
      background-color: #ffffff;
      color: #777777;
    }
    
    .menu {
        background-color: #a02620;
        color: #777777;
      }
    
      .location {
        background-color: #a02620;
        color: #777777;
      }
      
      .about-us {
        background-color: #a02620;
        color: #777777;
      }
      
      .reviews {
        background-color: #a02620;
        color: #777777;
      }
      
      .call {
        background-color: #a02620;
        color: #777777;
      }
      
    
    .btn::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
    }
    
    .btn-white::after {
      background-color: #ffffff;
    }
    
    #footer-container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 45vw 45vw;
      grid-template-columns: 45vw 45vw;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      background-color: rgb(121, 91, 101);
      font-size: 0.8rem;
      padding: 5vh 5vw 5vh 5vw;
      font-family: "lato", sans-serif;
    }
    
    #footer-container #Rfooter-column {
      text-align: right;
    }
    
  

  /* grid-template-columns: repeat{auto-fill, "minmax"(250px, 1fr)}; */