/*
COLORS:

Light Orange: #ffdc9a9d
Medium Orange: #c5a755
Dark Orange: #b45b28b6

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.7;
  color: #ffffff;
  padding: 30px;
}

#header {
  height: 95vh;
  background-image: linear-gradient(to right, #ffdc9a9d, #b45b28b6),
    url(../images/pizza.jfif);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

#page-nav {
    width: 100%;
    background: #c5a755;
    position: sticky;
    top: 0;
  }
  
  /* Hide Hamburger */
  #page-nav label, #hamburger {
    display: none;
  }
  
  /* Menu Items */
  #page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }
  #page-nav ul li {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
  }
  #page-nav ul li a {
    color: #fff;
    text-decoration: none;
    text-underline-position: below;
  }
  
  /* [ON SMALL SCREENS] */
  @media screen and (max-width: 768px){
    /* Show Hamburger */
    #page-nav label {
      display: inline-block;
      color: #fff;
      background: #a02620;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* Break down menu items into vertical */
    #page-nav ul li {
      display: block;
    }
    #page-nav ul li {
      border-top: 1px solid #333;
    }
  
    /* Toggle show/hide menu on checkbox click */
    #page-nav ul {
      display: none;
    }
    #page-nav input:checked ~ ul {
      display: block;
    }
  }
  
  /* [DOES NOT MATTER] */
  html, body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
  }

#logo {
  height: 120px;
}

#text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#heading-primary {
  color: #ffffff;
  margin-bottom: 60px;
}

#heading-primary-main {
  display: block;
  font-size: 55px;
  font-weight: 500;
  letter-spacing: 7px;
  font-style: italic;
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* animation-delay: 30ms; */
  /* animation-iteration-count: 3; */
  /* animation-timing-function: ease-in; */
  animation-timing-function: ease-out;
}

#heading-primary-sub {
  display: block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  /* 60% {
        transform: rotate(180deg);
    } */

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1px 40px;
  display: inline-block;
  border-radius: 15px;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #ffffff;
  color: #777777;
}

.menu {
    background-color: #a02620;
    color: #777777;
  }

  .location {
    background-color: #a02620;
    color: #777777;
  }
  
  .about-us {
    background-color: #a02620;
    color: #777777;
  }
  
  .reviews {
    background-color: #a02620;
    color: #777777;
  }
  
  .call {
    background-color: #a02620;
    color: #777777;
  }
  

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
}

.btn-white::after {
  background-color: #ffffff;
}

#footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45vw 45vw;
  grid-template-columns: 45vw 45vw;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  background-color: rgb(121, 91, 101);
  font-size: 0.8rem;
  padding: 5vh 5vw 5vh 5vw;
  font-family: "lato", sans-serif;
}

#footer-container #Rfooter-column {
  text-align: right;
}
